nav {
  background-color: #252c3b;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform: translateX(-100vw);
  transition: transform 1.3s cubic-bezier(.16,1.05,.54,.96), background-color 1.6s;
}

/**cubic-bezier(.16,1.05,.54,.96)**/
  
nav ul {
  list-style: none;
  font-size: 4rem;
  text-align: center;
}

nav ul li {
  padding: 5% 0;
}

nav ul li a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5%;
  text-decoration: none;
  text-transform: uppercase;
  transition: font-size 1.3s, color 1.5s;
}

nav ul li a:hover,
nav ul li a:active {
  background: #271f29;
  color:rgb(255, 0, 0);
  font-size: 4.5rem;
  border-radius: 20px;
}
  
nav.active {
  transform: translateX(0px);
  background-color: #3e2b41;
}