/** 
*
*   CSS Reset
*
**/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** 
*
*   Setup and General CSS
*
**/

:root {
  --bg-color: #252c3b;
  --accent-color: #353e53;
}

h1, h2, h3 {
  font-family: 'Bevan', cursive;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: 'Pontano Sans', sans-serif;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  font-size: 3rem;
  text-shadow: 5px 5px 5px #07082c80;
}

.header h3 {
  font-size: 2rem;
}

.content {
  max-width: 75%;
  margin: 5% auto;
  font-size: 1.3rem;
  text-indent: 1rem;
  background: var(--accent-color);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 4px 8px 20px 0px #191a24;
}

