/** 
*
*   CSS Reset
*
**/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** 
*
*   Setup and General CSS
*
**/

:root {
  --bg-color: #252c3b;
  --accent-color: #353e53;
}

h1, h2, h3 {
  font-family: 'Bevan', cursive;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: 'Pontano Sans', sans-serif;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  font-size: 3rem;
}

.header h3 {
  font-size: 2rem;
}

.content {
  max-width: 75%;
  margin: 5% auto;
  font-size: 1.3rem;
  text-indent: 1rem;
  background: var(--accent-color);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 4px 8px 20px 0px #191a24;
}

/** 
*
*   Hamburger Menu CSS 
*
**/

.nav-toggle {
  background: none;
  padding: 25px;
  color: #fff;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  outline: 0;
}

.hamburger-line {
  display: block;
  margin-top: 10px;
  
  border: 2px solid #bebebe;
  padding: 0 10px 0 30px;
  transition: transform 0.5s, border 0.5s;
}

.nav-toggle.active .hamburger-line:nth-child(1){
  transform: translateX(15px) rotate(45deg) translateY(20px);
  border: 2px solid #af0000;
}

.nav-toggle.active .hamburger-line:nth-child(2){
  transform: translateX(900px);
}

.nav-toggle.active .hamburger-line:nth-child(3){
  transform: translateX(15px) rotate(-45deg) translateY(-20px);
  border: 2px solid #af0000;
}

@media screen and (max-width: 568px){
  .nav-toggle {
    top: 85vh;

    
    border-radius: 50px;
    background: var(--accent-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    right: 25px;
    transition: background 1s, box-shadow 0.6s;
  }

  .nav-toggle.active {
    background: #3e2b41;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);
  }
}